<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters & Mixins</h1>
                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                <h2>Ex1</h2>
                <p>{{ sampleText | reverseText }}</p>

                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                <h2>Ex2</h2>
                <p>{{ sampleText | append-length }}</p>

                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                <h2>Ex3</h2>
                <p>{{ reversedText }}</p>
                <p>{{ withLengthText }}</p>

                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
                <h2>Ex4</h2>
                <p>{{ reversedTextMixin }}</p>
                <p>{{ withLengthTextMixin }}</p>


            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                sampleText: 'Hey, sup!'
            }
        },
        filters: {
            reverseText: function(value) {
                return value != '' ? value.split('').reverse().join('') : value;
            }
        },
        computed: {
            reversedText: function() {
                const text = this.sampleText;
                return text != '' ? text.split('').reverse().join('') : value;
            },
            withLengthText: function() {
                const text = this.sampleText;
                return text != '' ? `${text} (${text.length})` : value;
            }
        }
    }
</script>

<style>
</style>
